{% extends "index.html" %}

{% block content %}

<div class="container mt-5">
    <h2>Editar Sala</h2>
    <form method="POST" action="{{ url_for('editar_sala', sala_id=sala.id) }}">
        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <input type="text" class="form-control" id="tipo" name="tipo" value="{{ sala.tipo }}" required>
        </div>
        <div class="form-group">
            <label for="capacidade">Capacidade:</label>
            <input type="number" class="form-control" id="capacidade" name="capacidade" value="{{ sala.capacidade }}" required>
        </div>
        <div class="form-group">
            <label for="descricao">Descrição:</label>
            <textarea class="form-control" id="descricao" name="descricao" required>{{ sala.descricao }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{{ url_for('lista_salas') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

{% endblock %}